<div data-role="page" data-url="<%= Rho::RhoConfig.start_path2 %>/">

  <div data-role="header" data-position="inline">
    <h1>Umobile</h1>
  </div>
  
  <div data-role="content">
  <div class="wrap">

    <!-- Header -->
    <div class="headerbg1"></div>
    <div class="headerbg2"></div>
    <div class="headerline maincolor"></div>
    <div class="logoumobileprincipal">
        <img src="/public/images/principal480/logoumobile.png"/>
    </div>

    <!-- Fecha -->
    <div class="textoOscuro fechaprincipal">
        <%= Time.now.strftime("%A , %d de %Y")  %>
    </div>

    <!-- Logo universidad -->
    <div class="logounivprincipal">
        <img src="/public/images/principal480/logouniv.png" />
    </div>

    <!-- Nombre del usuario -->
    <div class="textoOscuro nombreusuario">
        Bienvenido(a) <br>
	<% if SyncEngine::logged_in > 0 %>
		<%= Alumno.find(:all).first.nombre %>
  		<% end %>

    </div>

    <!-- Menu -->    
    <div class="menuprinclinea maincolor"></div>
    <div class="menuprincbg1"></div>
    <div class="menuprincbg2"></div>

    <div class="menuiconoswrap">
        <a href="<%= url_for :controller=> :Curso, :action => :index %>"><img src="/public/images/principal480/icncursos2.png" border="0px"  /></a>
        <a href="<%= url_for :controller=> :Horario, :action => :index, :query => {:dia => Time.now.wday} %>"><img src="/public/images/principal480/icnhorario2.png" border="0px" /></a>
        <a href="<%= url_for :controller=> :Calificacion, :action => :indexCursos %>"><img src="/public/images/principal480/icnactividades2.png"  border="0px"/></a>
        <a href="principal.htm"><img src="/public/images/principal480/icnmapa2.png" border="0px" /></a>
    </div>

</div>
</div>
