<div data-role="page">

  <div class="headerlistabg1 maincolor"></div>
  <div class="headerlistabg2 subcolor"></div>
         

    <div class="botonback">        
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
    </div>
    <div class="botonhome">
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="home" data-iconpos="notext"></a>
    </div>

         <div class="headertitulo">Cerrar Sesión</div>

  <div class="listasfullwidth">
    <ul data-role="listview" data-theme="a">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>
 <li>
          <span class="clientID">Usted va a cerrar sesión. ¿Está seguro que desea cerrar sesión?</span>
      </li>
<% if SyncEngine::logged_in > 0 %>
          <li><a href="<%= url_for :action => :logout %>">Logout</a></li>
      <% else %>
          <li><a href="<%= url_for :action => :login %>">Login</a></li>
      <% end %>
    </ul>
  </div>
</div>
