<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @alumno.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @alumno.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="alumno[codigo]" class="fieldLabel">Codigo</label>
            <input type="text" id="alumno[codigo]" name="alumno[codigo]" <%= placeholder("Codigo") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="alumno[nombre]" class="fieldLabel">Nombre</label>
            <input type="text" id="alumno[nombre]" name="alumno[nombre]" <%= placeholder("Nombre") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="alumno[password]" class="fieldLabel">Password</label>
            <input type="text" id="alumno[password]" name="alumno[password]" <%= placeholder("Password") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
