<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @periodo.object %>
    <h1>Edit <%= @periodo.id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @periodo.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @periodo.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Id: </td>
              <td class="itemValue"><input type="text" name="periodo[id]" value="<%= @periodo.id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Inicio: </td>
              <td class="itemValue"><input type="text" name="periodo[inicio]" value="<%= @periodo.inicio %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Fin: </td>
              <td class="itemValue"><input type="text" name="periodo[fin]" value="<%= @periodo.fin %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Periodo: </td>
              <td class="itemValue"><input type="text" name="periodo[periodo]" value="<%= @periodo.periodo %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
