<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @periodo.id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @periodo.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @periodo.id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Inicio</td>
        <td class="itemValue"><%= @periodo.inicio%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Fin</td>
        <td class="itemValue"><%= @periodo.fin%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Periodo</td>
        <td class="itemValue"><%= @periodo.periodo%></td>
      </tr>
      
    </table>
  </div>

</div>
