<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1>Horario de clases</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">Back</a>
     </div>

  <div data-role="content">

	  <a href="<%= url_for :action => :horarioprincipal %>" class="ui-btn-left" data-icon="back" data-direction="reverse">L</a>

 <a href="<%= url_for :action => :horarioprincipal %>" class="ui-btn-left" data-icon="back" data-direction="reverse">M</a>

 <a href="<%= url_for :action => :horarioprincipal %>" class="ui-btn-left" data-icon="back" data-direction="reverse">MI</a>

  	
 <a href="<%= url_for :action => :horarioprincipal %>" class="ui-btn-left" data-icon="back" data-direction="reverse">J</a>

 <a href="<%= url_for :action => :horarioprincipal %>" class="ui-btn-left" data-icon="back" data-direction="reverse">V</a>

 <a href="<%= url_for :action => :horarioprincipal %>" class="ui-btn-left" data-icon="back" data-direction="reverse">S</a>



    <ul data-role="listview">
      
             
    </ul>
  </div>

</div>
