<div data-role="page">
<!-- Background -->    
    <img src="../public/images/principal480/background.png" class="backgroundstretch"/>

    <!-- Header -->
    <div class="headerlistabg1 maincolor"></div>
    <div class="headerlistabg2 subcolor"></div>
    
   <div class="botonback">        
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
    </div>
    <div class="botonhome">
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="home" data-iconpos="notext"></a>
    </div>

    
    <div class="headertitulo">Horario de clases</div>

    <!-- Lista de cursos -->
    <div class="dias">    
        <div data-role="controlgroup" data-type="horizontal" >
        <a href="<%= url_for :action => :index, :query => {:dia => '1'} %>" data-role="button" data-icon="lunes" data-iconpos="notext" <%   if( @dia == 1) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        <a href="<%= url_for :action => :index,  :query => {:dia => '2'}  %>" data-role="button" data-icon="martes" data-iconpos="notext" <%   if( @dia == 2) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        <a href="<%= url_for :action => :index,  :query => {:dia => '3'}  %>" data-role="button" data-icon="miercoles" data-iconpos="notext" <%   if( @dia == 3) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        <a href="<%= url_for :action => :index,  :query => {:dia => '4'}  %>" data-role="button" data-icon="jueves" data-iconpos="notext" <%   if( @dia == 4) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        <a href="<%= url_for :action => :index,  :query => {:dia => '5'}  %>" data-role="button" data-icon="viernes" data-iconpos="notext" <%   if( @dia == 5) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        <a href="<%= url_for :action => :index,  :query => {:dia => '6'}  %>" data-role="button" data-icon="sabado" data-iconpos="notext" <%   if( @dia == 6) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        <a href="<%= url_for :action => :index,  :query => {:dia => '7'}  %>" data-role="button" data-icon="domingo" data-iconpos="notext" <%   if( @dia == 7) %>
                   class="ui-btn-active"  
                 <% end %>></a>
        </div>
    </div>
    
    <div class="listasfullwidth horariopostop">
    
        <ul data-role="listview" data-inset="true" data-divider-theme="a" data-theme="a">
            <% if @horarios.count == 0 %>
                    	<p class="error">   No existe clases programadas </p>
                    <% end %>
              <% @horarios.each do |horario| %>
                <li data-role="list-divider"><%= horario.nombre %></li> 
                <li>	
Aula:	<%= horario.salon %> <br />	
                	Hora:	<%= horario.horainicio %> - <%= horario.horafin %>  <br />
                        Tipo:	<%= horario.tipo %> <br />
                        Sede:	<%= horario.sede %>
                   <% if horario.recuperacion.to_i() == 1%>
                       <div class="textoRojo">    <p  > RECUPERACIÓN  </p>  </div>
                    <% end %>
                </li>
              <% end %>
        </ul>
    </div>

    <!-- Footer -->
    <div class="footer maincolor"></div></div>
</div>
