<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Horarios</h1>
    <a href="<%= Rho::RhoConfig.start_path2 %>" class="ui-btn-left" data-icon="home" data-direction="reverse">Home</a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">New</a>
  </div>

  <div data-role="content">




<div class="ui-grid-b">

<div class="ui-block-a">
<a class="fade" href="<%= url_for :action => :lunes %>" data-role="button"  	data-	transition="fade">L</a>
</div>

<div class="ui-block-b">
<a class="fade" href="<%= url_for :action => :martes %>" data-role="button"  	data-	transition="fade">M</a>
</div>
			
<div class="ui-block-c">
<a class="fade" href="<%= url_for :action => :miercoles %>" data-role="button"  	data-	transition="fade">Mi</a>
</div>
			

<div class="ui-block-a">
<a class="fade" href="<%= url_for :action => :jueves %>" data-role="button"  	data-	transition="fade">J</a>
</div>
			
<div class="ui-block-b">
<a class="fade" href="<%= url_for :action => :sabado %>" data-role="button"  	data-	transition="fade">V</a>
</div>
			

<div class="ui-block-c">
<a class="fade" href="<%= url_for :action => :viernes %>" data-role="button"  	data-	transition="fade">S</a>
</div>
		

</div>





    <ul data-role="listview">
      <% @horarios.each do |horario| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => horario.object %>">
              <%= horario.seccion %>
            </a>
          </li>
      
      <% end %>
    </ul>

    <br/>
    <br/>

	<ul data-role="listview" data-inset="true">
	<li data-role="list-divider">Arquitectura de software</li>

	<li>
		<h3>Stephen Weber</h3>
	   <p><strong>You've been invited to a meeting at Filament 			Group in Boston, MA</strong></p>
	   <p>Hey Stephen, if you're available at 10am tomorrow, 			we've got a meeting with the jQuery team.</p>
	   <p class="ui-li-aside"><strong>6:24</strong>PM</p>
	</a></li>


	<li data-role="list-divider">Matematica 2</li>


	<li>
		<h3>Stephen Weber</h3>
	   <p><strong>You've been invited to a meeting at Filament 			Group in Boston, MA</strong></p>
	   <p>Hey Stephen, if you're available at 10am tomorrow, 			we've got a meeting with the jQuery team.</p>
	   <p class="ui-li-aside"><strong>6:24</strong>PM</p>
	</a></li>

	<li data-role="list-divider">Fisica 2</li>

	<li>
		<h3>Stephen Weber</h3>
	   <p><strong>You've been invited to a meeting at Filament 			Group in Boston, MA</strong></p>
	   <p>Hey Stephen, if you're available at 10am tomorrow, 			we've got a meeting with the jQuery team.</p>
	   <p class="ui-li-aside"><strong>6:24</strong>PM</p>
	</a></li>

	<li data-role="list-divider">Metodos formales</li>

	<li>
		<h3>Stephen Weber</h3>
	   <p><strong>You've been invited to a meeting at Filament 			Group in Boston, MA</strong></p>
	   <p>Hey Stephen, if you're available at 10am tomorrow, 			we've got a meeting with the jQuery team.</p>
	   <p class="ui-li-aside"><strong>6:24</strong>PM</p>
	</a></li>

	<li data-role="list-divider">Ingles 3</li>

	 <li>
	  <h3>Stephen Weber</h3>
	   <p><strong>You've been invited to a meeting at Filament 			Group in Boston, MA</strong></p>
	   <p>Hey Stephen, if you're available at 10am tomorrow, 			we've got a meeting with the jQuery team.</p>
	   <p class="ui-li-aside"><strong>6:24</strong>PM</p>
	</a></li>

   </ul>
			
  </div>

</div>
