<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @horario.seccion %></h1>
    <%= link_to "Edit", :action => :edit, :id => @horario.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Seccion</td>
        <td class="itemValue"><%= @horario.seccion%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Dia</td>
        <td class="itemValue"><%= @horario.dia%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Horainicio</td>
        <td class="itemValue"><%= @horario.horainicio%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Horafin</td>
        <td class="itemValue"><%= @horario.horafin%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Salon</td>
        <td class="itemValue"><%= @horario.salon%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Sede</td>
        <td class="itemValue"><%= @horario.sede%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Tipoclase</td>
        <td class="itemValue"><%= @horario.tipoclase%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Frecuencia</td>
        <td class="itemValue"><%= @horario.frecuencia%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Fecha</td>
        <td class="itemValue"><%= @horario.fecha%></td>
      </tr>
      
    </table>
  </div>

</div>
