<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">

</div>

  <div data-role="content">

    
      <div class="ui-grid-e">
                
                    <div class="ui-block-a">
                    <a class="fade" href="<%= url_for :action => :index, :id => '{1}' %>" data-role="button"    data-transition="fade">L</a>
    
                    </div>
                    
                    <div class="ui-block-b">
                    <a class="fade" href="<%= url_for :action => :index, :id => '{2}' %>" data-role="button"   data-transition="fade">M</a>
                    </div>
                          
                    <div class="ui-block-c">
                    <a class="fade" href="<%= url_for :action => :index, :id => '{3}' %>" data-role="button"    data-transition="fade">Mi</a>
                    </div>
                          
                    
                    <div class="ui-block-d">
                    <a class="fade" href="<%= url_for :action => :index, :id => '{4}' %>" data-role="button"   data-transition="fade">J</a>
                    </div>
                          
                    <div class="ui-block-e">
                    <a class="fade" href="<%= url_for :action => :index, :id => '{5}' %>" data-role="button"    data-transition="fade">V</a>
                    </div>
                    
                  <div class="ui-block-f">
                  <a class="fade" class="vdata-theme-c" href="<%= url_for :action => :index, :id => '{6}'    %>" data-role="button"  font-weight="bold"
                   vdata-theme="c"  data-transition="fade">S</a>
                  </div>  
                
                </div>
    
    
    
          <ul data-role="listview" data-inset="true">
          
              <% @horarios.each do |horario| %>
              
                <li data-role="list-divider" > <p> <%= horario.salon %> <p> </li>
                
                <li>
                  <h3><%= horario.horainicio %> - <%= horario.horafin %>  </h3>
                   <p><strong><%= horario.salon %> </strong></p>
                   <p><%= horario.sede %> </p>
                   <p><%= horario.tipoclase %> </p>
                   <p class="ui-li-aside"><strong>6:24</strong>PM</p>
                   
                </li>
              
              <% end %>
        
          </ul>
  
  </div>

</div>
