<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @horario.seccion %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">Back</a>
    <a href="<%= url_for :action => :edit, :id => @horario.object %>" class="ui-btn-right" data-icon="star">Edit</a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Seccion</div>
            <div class="itemValue"><%= @horario.seccion %></div>
          </li>
      
          <li>
            <div class="itemLabel">Dia</div>
            <div class="itemValue"><%= @horario.dia %></div>
          </li>
      
          <li>
            <div class="itemLabel">Horainicio</div>
            <div class="itemValue"><%= @horario.horainicio %></div>
          </li>
      
          <li>
            <div class="itemLabel">Horafin</div>
            <div class="itemValue"><%= @horario.horafin %></div>
          </li>
      
          <li>
            <div class="itemLabel">Salon</div>
            <div class="itemValue"><%= @horario.salon %></div>
          </li>
      
          <li>
            <div class="itemLabel">Sede</div>
            <div class="itemValue"><%= @horario.sede %></div>
          </li>
      
          <li>
            <div class="itemLabel">Tipoclase</div>
            <div class="itemValue"><%= @horario.tipoclase %></div>
          </li>
      
          <li>
            <div class="itemLabel">Frecuencia</div>
            <div class="itemValue"><%= @horario.frecuencia %></div>
          </li>
      
          <li>
            <div class="itemLabel">Fecha</div>
            <div class="itemValue"><%= @horario.fecha %></div>
          </li>
      
    </ul>
  </div>

</div>
