<div data-role="page">


      <div   class="headerlistabg1 maincolor" >
     
          <div class="headerlistabg2 subcolor"></div>
         
         <div class="headertitulo">Horario </div>
      </div>
  <div class="botonback">        
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
    </div>
    <div class="botonhome">
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="home" data-iconpos="notext"></a>
    </div>

      
<br/>
<br/>



  <div data-role="content" data-inset="true" data-theme="d" data-divider-theme="d">
       <ul data-role="listview" data-inset="true">
        <li>
         <b> Horario</b>
         <li>
       
                 <% if @horarios.count == 0 %>
                                 <p class="error">   No hay informacion de horario </p>
                             <% end %>
           <% @horarios.each do |horario| %>
           
             <li data-role="list-divider" > 
               <%= obtenerdia(horario.dia.to_i()) %>     
             </li>
             <li>
               <h2><%= horario.horainicio %> - <%= horario.horafin %>  </h2>
                <p><strong><%= horario.salon %> </strong></p>
                <p>Sede <%= horario.sede %> </p>
                <p>Clase <%= horario.tipo %> </p>
                           
             </li>
           
           <% end %>
     
       </ul>
       
   </div>

  <div>
  
  
  </div>
