<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= @curso.nombre %></h1>
  
    <div class="headerlistabg1 maincolor"></div>
       <div class="headerlistabg2 subcolor"></div>
       
       <div class="headertitulo"><%= @curso.nombre %></div>

   <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">Back</a>  
 <!--   <a href="<%= url_for :action => :edit, :id => @curso.object %>" class="ui-btn-right" data-icon="star">Edit</a> -->
   
 </div>


  <div data-role="content">
    <ul data-role="listview">
      
      
          <li>
            <div class="itemLabel">C&oacute;digo</div>
            <div class="itemValue"><%= @curso.codigo %></div>
          </li>
      
          <li>
            <div class="itemLabel">Creditos</div>
            <div class="itemValue"><%= @curso.creditos %></div>
          </li>
      
          <li>
            <div class="itemLabel">Nivel</div>
            <div class="itemValue"><%= @curso.nivel %></div>
          </li>
      
          <li>
            <div class="itemLabel">Prof.</div>
            <div class="itemValue"><%= @curso.profesor %></div>
          </li>
      
          <li>
            <div class="itemLabel">Secci&oacute;n</div>
            <div class="itemValue"><%= @curso.seccion %></div>
          </li>
      
    </ul>
  </div>
  
  
   <div data-role="footer" data-position="inline" align= "center" >
     <a href="<%= url_for :action => :cursohorario, :query => {:idcurso => @curso.object} %>" >Horario</a>
        &nbsp;  &nbsp;
       <a href="<%= url_for :controller => :Calificacion, :action => :show, :query => {:idcurso => @curso.object} %>"  >Calificaciones</a>  
   </div>
  

  <div>
    

