<div data-role="page">

    
    <div class="headerlistabg1 maincolor"></div>
       <div class="headerlistabg2 subcolor"></div>
       
       <div class="headertitulo">Detalle del Curso</div>

   <div class="botonback">        
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
    </div>
    <div class="botonhome">
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="home" data-iconpos="notext"></a>
    </div>

 <!-- Detalle del curso -->
    <div class="margin10 detallecurso textoOscuro">
    
        Curso: <%= @curso.nombre %>  <br />
        C&oacute;digo: MA73 <br />
	   Creditos: <%= @curso.creditos %> <br />
        Nivel: <%= @curso.nivel %><br />
        Profesor: <%= @curso.profesor %><br />
        Secci&oacute;n: <%= @curso.seccion %><br />
        
    </div>

   <!-- Footer -->    
    <div class="footerdetallecurso maincolor">
    <div data-role="controlgroup" data-type="horizontal">
	    <a href="<%= url_for :action => :cursohorario, :query => {:idcurso => @curso.object} %>" data-role="button" data-icon="arrow-d">Horario</a>
	    <a href="<%= url_for :controller => :Calificacion, :action => :show, :query => {:idcurso => @curso.object} %>" data-role="button" data-icon="arrow-d">Notas</a>
        </div>
    </div>

<div>
    

