<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Notas de cursos</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse">Home</a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">New</a>
  </div>

      <div data-role="content">
        
      <% @cursos.each do |curso| %>  
        
        <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="d">
          <li>
            <b><%= curso.nombre %><span class="ui-li-count">12</span></b>
           <li>
          <li data-role="list-divider" >
                    <div class="ui-grid-b">
                      <div class="ui-block-a">Tipo</div>
                      <div class="ui-block-b" >Nota</div>
                      <div class="ui-block-c" >Peso</div>
                    </div>
          </li>  
          <% @CalificacionesPorCurso = Calificacion.find(:all, :conditions => {'idcurso' => curso.object}) %>
              
               <% @CalificacionesPorCurso.each do |calificacion| %>                          
                              
                 <li>               
                  <div class="ui-grid-b">
                    <div class="ui-block-a"  ><%= calificacion.evaluacion %></div>
                    <div class="ui-block-b" ><%= calificacion.nota %></div>
                    <div class="ui-block-c" ><%= calificacion.peso %> %</div>
                  </div>
                </li>
                                                    
               <% end %>     
            </ul>  
        <% end %>
      
        </div>


</div>
