<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @calificacion.id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @calificacion.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @calificacion.id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Idcurso</td>
        <td class="itemValue"><%= @calificacion.idcurso%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Evaluacion</td>
        <td class="itemValue"><%= @calificacion.evaluacion%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Nota</td>
        <td class="itemValue"><%= @calificacion.nota%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Numero</td>
        <td class="itemValue"><%= @calificacion.numero%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Peso</td>
        <td class="itemValue"><%= @calificacion.peso%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Tipo</td>
        <td class="itemValue"><%= @calificacion.tipo%></td>
      </tr>
      
    </table>
  </div>

</div>
